@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}
@section dataTableJs{
    <script>
        $(document).ready(function () {
            var preCount = 0;
            var nextCount = 1;
            var count1 = 1;
            $('#demo-form')
                // Add button click handler
                .on('click', '.addButton', function () {
                    var $template = $('#optionTemplate'),
                        $clone = $template
                            .clone()
                            .removeAttr('id')
                            .removeClass('hide')
                            .insertBefore($template),
                        $option = $clone.find('[id="optionLabel0"]');
                        $option1 = $clone.find('[id="optionText0"]');

                    $option.attr('name', 'insurance_label_' + nextCount);
                    $option1.attr('name', 'insurance_text_' + nextCount);
                    
                    nextCount++;

                })

                // Remove button click handler
                .on('click', '.removeButton', function () {
                    var $row = $(this).parents('.form-group'),
                        $option = $row.find('[id="optionLabel0"]');

                    // Remove element containing the option
                    $row.remove();

                })
            $('#demo-form2')
                // Add button click handler
                .on('click', '.addButton1', function () {
                    var $template = $('#optionTemplate1'),
                        $clone = $template
                            .clone()
                            .removeClass('hide')
                            .removeAttr('id')
                            .insertBefore($template),
                        $option = $clone.find('[name="optionLabel[]"]');
                    $option1 = $clone.find('[name="optionText[]"]');
                    $option.attr('name', 'seo_label_' + count1 + '');
                    $option1.attr('name', 'seo_text_' + count1 + '');
                    count1++;

                })

                // Remove button click handler
                .on('click', '.removeButton', function () {
                    var $row = $(this).parents('.form-group'),
                        $option = $row.find('[name="optionLabel[]"]');

                    // Remove element containing the option
                    $row.remove();

                })


        });
    </script>
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Lead</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Add Lead</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="">
                                    <a href="#tab_content1" id="insurance_lead" role="tab" data-toggle="tab" aria-expanded="false">Insurance Lead</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" id="seo_lead" data-toggle="tab" aria-expanded="false">Seo Lead</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="x_content">
                                        <br />
                                        <form id="demo-form" data-parsley-validate class="form-horizontal form-label-left" method="post" action="InsuranceLead\@User.Identity.GetUserId()">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                                    Name <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="seo_name" name="insurance_name" required="required" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                    Phone<span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="seo_phone" name="insurance_phone" required="required" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="seo_email" class="control-label col-md-3 col-sm-3 col-xs-12">Email
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="seo_email" class="form-control col-md-7 col-xs-12" type="email" required="required" name="insurance_email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Age
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="age" class="form-control col-md-7 col-xs-12" type="text" required="required" name="age">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                    Income <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="income" name="income" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                    Address<span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="address" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" name="address">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div id="gender" class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                            <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                                                        </label>
                                                        <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                            <input type="radio" name="gender" value="female"> Female
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group hide" id="optionTemplate">
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" type="text" id="optionLabel0" placeholder="Lead Label" name="optionLabel">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-10">
                                                    <input class="form-control col-md-7 col-xs-12" type="text" id="optionText0" placeholder="Lead Text" name="optionText">
                                                </div>
                                                <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                            </div>
                                            <div class="ln_solid"></div>
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                    <button class="btn btn-primary addButton" type="button">Add New Lead</button>
                                                    <button class="btn btn-primary" type="reset">Reset</button>
                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                    <div class="x_content">
                                        <br />
                                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="seoLead\@User.Identity.GetUserId()">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                                    Name <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="seo_name" name="seo_name" required="required" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                    Phone<span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="agent_last_name1" name="seo_phone" required="required" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="seo_email" class="control-label col-md-3 col-sm-3 col-xs-12">Email
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="seo_email" class="form-control col-md-7 col-xs-12" required="required" type="email" name="seo_email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="website" class="control-label col-md-3 col-sm-3 col-xs-12">Website
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="website" class="form-control col-md-7 col-xs-12" type="text" required="required" name="website">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                    Url<span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="url" name="url" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                    Keyword<span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="keyword" name="keyword" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">

                                                </div>
                                            </div>


                                            <div class="form-group hide" id="optionTemplate1">
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" type="text" placeholder="Lead Label" name="optionLabel[]">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-10">
                                                    <input class="form-control col-md-7 col-xs-12" type="text" placeholder="Lead Text" name="optionText[]">
                                                </div>
                                                <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                            </div>
                                            <div class="ln_solid"></div>
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                    <button class="btn btn-primary addButton1" type="button">Add New Lead</button>
                                                    <button class="btn btn-primary" type="reset">Reset</button>
                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>